.wrapper {
  padding-top: 50px;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
